
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
*.manifest
*.spec


env/
venv/
ENV/
.venv/
env.bak/


*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py


*/migrations/__pycache__/
*/migrations/*.pyc

*.env
.env.*


.vscode/
.idea/
*.swp
*~

.DS_Store
Thumbs.db

.coverage
*.cover
coverage.xml
htmlcov/
pytest_cache/
.tox/
.mypy_cache/
.pytest_cache/
.cache/


build/
dist/
*.lock
