body {
    background-image: url('/static/image/login_page.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    height: auto;
    background-color: transparent; /* make transparent */
}

.container-2 {

    height: auto;
    background-color: transparent; /* make transparent */
}

.inner-div {
    height: auto;
    margin-left: 500px;
    margin-top: 210px;
    background-color: rgba(255, 255, 255, 0.8); /* optional translucent white background */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* optional: for a nice card effect */
    width: 350px;
}

.login {
    border-radius: 50px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

#login {
    margin-left: 95px;
    padding: 10px 30px 10px 30px;
}
