<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/progressPage.css' %}">
    <script src="{% static 'js/progressPage.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthHub: Your Progress</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="app-container">
        <!-- Sidebar (Same as dashboard, but with 'Progress' active) -->
        {% include 'sidebar.html' %}

        <!-- Main Content -->
        <main class="main-content">
            <header class="main-header">
                <div class="header-welcome">
                    <h2>Track Your Progress</h2>
                    <p>Visualize your journey and see how far you've come.</p>
                </div>

            </header>

            <!-- Chart Section -->
            <section class="card chart-container">
                <div class="chart-header">
                    <h4>Kcal History</h4>

                </div>
                <div class="chart-wrapper" style="width: 1170px">
                    {{ progress_chart }}
                </div>
            </section>

        </main>
    </div>

</body>
</html>